language: nix

script:
  - nix-build -Q --argstr channel $CHANNEL

git:
  depth: 1

matrix:
  include:
    - os: linux
      dist: trusty
      env: CHANNEL=nixos-19.03
    - os: linux
      dist: trusty
      env: CHANNEL=nixos-unstable
    - os: osx
      env: CHANNEL=nixpkgs-19.03-darwin
    - os: osx
      env: CHANNEL=nixpkgs-unstable

cache:
  directories:
    - /nix/store

notifications:
  email: false
